<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docsoln</title>

    <!--css file-->
    <link rel="stylesheet" href="static/css/style.css">

</head>


<body>

    <!-- header section starts  -->

    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Docsoln.com </a>

        <nav class="navbar">
            <a href="/appointment"> Make an appointment </a>
            <a href="/home">home</a>
            <a href="index.html">Medicines</a>
            <a href="/ambulance">Ambulance</a>
            <a href="index.html">Blood Doner</a>
            <a href="/login">Login</a>

        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="image">
            <img src="static/image/cover.jpg" alt="" width="1400" height="600">
        </div>


    </section>

    <!-- home section ends -->


    <!-- services section starts  -->

    <section class="services" id="services">

        <h1 class="heading"> our <span>services</span> </h1>

        <div class="box-container">

            <div class="box">
                <i class="Doctor"></i>
                <h3> Expert Doctors </h3>
                <p>You can make appointment for your required doctor from here.</p>

            </div>

            <div class="box">
                <i class="ambulance"></i>
                <h3> 24/7 ambulance </h3>
                <p>You are going to gives you proper amdulance service from you required place.</p>

            </div>

            <div class="box">
                <i class="pills"></i>
                <h3> Online Medicines </h3>
                <p>We gives you online Medicines buye and home delivary service.</p>

            </div>

            <div class="box">
                <i class="bloods"></i>
                <h3> Blood Doner service </h3>
                <p>You can search for a blood doner for you paitient</p>

            </div>

        </div>

    </section>

    <!-- services section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> <span>about</span> us </h1>

        <div class="row">

            <div class="image">
                <img src="static/image/about.jpg" alt="">
            </div>

            <div class="content">
                <h3>we take care of your healthy life</h3>
                <p>When we go to medical for checkup of our illness problem firstly we face serial or appointment problem. Sometimes people come from long distance area to find of a good doctor. But there is a problem of appointment with this doctor. And
                    also when we go for checkup there are some bad people who distract us to go another place for same kind of treatment and to test the reports. Sometimes there reports get wrong and due to this reason our treatment also going wrong.
                    From these problem we think about to build something like that to solve these medical service problem for every kinds of people and gets services in their hand.</p>
            </div>

        </div>

    </section>


    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +8801739-411518 </a>
                <a href="#"> <i class="fas fa-envelope"></i> changemaker@gmail.com </a>
                <a href="#"> <i class="fas fa-envelope"></i> go2arahad@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Rajshahi-6000 </a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>

        </div>

        <div class="credit"> created by <span>Team Change Maker</span> | all rights reserved </div>

    </section>

    <!-- footer section ends -->


















    <!-- custom js file link  -->
    <script src="js/script.js"></script>

</body>

</html>