.card__container {
    width: 20rem;
}

.container__box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15rem;
}

.btn-lg {
    width: 8rem;
}

.clear {
    clear: both;
}

.filter__btn {
    width: 15rem;
}

.large__card {
    width: 100ch;
}